body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #003366; /* UdeM dark blue */
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* centers the list items in the nav */
}

nav ul li {
    position: relative; /* Set the li to relative for absolute positioning of dropdown */
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #005baa; /* UdeM lighter blue */
    padding: 10px 20px;
    border-radius: 5px;
    display: block; /* make the anchor tags behave like block elements */
    transition: background-color 0.3s;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #003366; /* Darken on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0; /* aligns the dropdown directly under the dropdown button */
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    padding: 20px;
    margin-top: 10px;
    background-color: #f4f4f4;
    border-left: 5px solid #005baa; /* UdeM blue as accent */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
